SELL_ACCESS_TOKEN=c0ce7d70b2f21e1759a39469d9795dc929ae8df50f41a75e8ef186e37f9c7717
SELL_API_BASE=https://api.getbase.com

PORTAL_KEY=

SELL_LEADS_URL=https://clinyco.zendesk.com/sales/app/leads
SELL_DEAL_URL_BASE=https://clinyco.zendesk.com/sales/deals
SELL_CONTACT_URL_BASE=https://clinyco.zendesk.com/sales/contacts
SELL_DEAL_MOBILE_URL_BASE=https://app.futuresimple.com/sales/deals
SELL_CONTACT_MOBILE_URL_BASE=https://app.futuresimple.com/crm/contacts

DEFAULT_CURRENCY=CLP
DEFAULT_PIPELINE_ID=1290779
DEAL_OWNER_ID=
DEAL_TAGS=portal,clinyco
STAGE_BY_PIPELINE={"1290779":10693252}
RUT_VALIDATE=true
